@import "./reset.scss";
@import "./variables.scss";
@import "./typography.scss";
@import "./layout.scss";
@import "./navbar.scss";

body {
  background: $lt-background-col;
  color: $lt-text-col;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body[data-theme="dark"] {
  background: $dk-background-col;
  color: $dk-text-col;
}
