:root {
  --primary-color: #1a1b1f;
  --light-color: #ffffff;
  --dark-color: #d1d1d1;
  --danger-color: #c71a1a;
  --danger-light-color: #f5b2b2;

  --text-dark-color: #626262;
  --text-light-color: #ffffff;
  --text-link-color: #2557fa;
  --text-danger-color: #a81515;

  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

// light

$lt-background-col: #ffffff;
$lt-text-col: #262624;
$lt-blockquote-border: #b6b6b6;

$lt-navbar-background: #ffffff;
$lt-navbar-border: #262624;
$lt-navbar-link-col: #262624;

$lt-link-col: #0090d3;
$lt-link-border-col: #b7daee;
$lt-link-col-dim: #e6f0f6;
$lt-link-col-dim: #e6f0f6;

$lt-alert-primary-bg: #d4e9f3;
$lt-alert-primary-border: #b6d6e6;
$lt-alert-warning-bg: #eee0c6;
$lt-alert-warning-border: #ddcaa6;

$lt-post-bg: #262624;
$lt-post-text: #c8cccc;

// dark

$dk-background-col: #262624;
$dk-text-col: #c8cccc;
$dk-blockquote-border: #949494;

$dk-navbar-background: #262624;
$dk-navbar-border: #5a5a5a;
$dk-navbar-link-col: #c8cccc;

$dk-link-col-dim: #2d3033;
$dk-link-border-col: #7491a1;

$dk-alert-primary-bg: #3c5966;
$dk-alert-primary-border: #5f8590;
$dk-alert-warning-bg: #746642;
$dk-alert-warning-border: #a18767;

$dk-post-bg: #181817;
$dk-post-header-bg: #000000;